extends layout

block bundle_script
  script(src='javascripts/admin_bundle.js')

block content
  .col-sm-12#content
    //- form.form-horizontal(role="form")
    //-   .form-group
    //-     fieldset
    //-       legend Classes
    //-         a.right(href="#") New
    //-       table.table.table-striped.table-hover.table-condensed
    //-         tr
    //-           th Name
    //-           th Company
    //-           th Date
    //-           th Size
    //-         - each course in courses
    //-           tr
    //-             td a
    //-             td b
    //-             td c
    //-             td d